@keyframes wiggle {
	0%,
	100% {
		transform: rotate(0deg);
	}
	20%,
	60% {
		transform: rotate(12deg);
	}
	40%,
	80% {
		transform: rotate(-12deg);
	}
}
.wiggle {
	display: inline-block;
	animation: wiggle 1.5s ease-in-out;
}

.wiggle:hover {
	animation: none;
}
